---
import { Image } from "astro:assets";
import InHouse from '../assets/InHouseP.jpeg'
---

<nav class="fixed top-0 left-0 w-full z-50 transition-all duration-300 bg-linear-to-r from-white via-white to-transparent backdrop-blur-md border-b border-white/10">
    <div class="max-w-7xl mx-auto px-6 py-3 flex flex-row justify-between items-center">

        <div class="flex items-center transition-transform duration-300 hover:scale-105">
            <Image
                    src={InHouse}
                    alt="In House Peru Logo"
                    quality="high"
                    class="h-12 w-auto object-contain md:h-14 cursor-pointer"
            />
        </div>
        <a
                href="https://wa.link/vpjt0m"
        >
            <button class="bg-[#00BCD4] text-white px-8 py-2.5 rounded-full font-bold text-sm md:text-base tracking-wide shadow-lg shadow-[#00BCD4]/30 hover:bg-[#001F5B] hover:shadow-[#001F5B]/40 transition-all duration-300 active:scale-95 cursor-pointer border border-white/20">
                Contáctanos
            </button>
        </a>
    </div>
</nav>

<style>
	.cursor-pointer {
		cursor: pointer;
	}
</style>